.cart {
  width: 200px;
  padding: 10px;
  border-radius:  5%;
  border: 1px solid rgb(22, 19, 19);
}

.cart-header {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid black;
  margin-bottom: 6px;
  text-align: center;
}

.cart-items {
  font-size: 22px
}

.swapodds-container {
  display: flex;
  align-items: center;
}

.swapodds-button {
  height: 30px; 
  width: 140px;
}

.flex {
  display: flex;
  align-items: center
}

.transfer-list {
  border: 1px solid black;
  border-radius: 5%;
  width: 70px;
  padding: 75px;
  height: 150px;
}

.transfer-button {
  margin: 20px;
}

table {
  border-collapse: collapse;
}

th, tr, td {
  border: 2px solid gray;
  padding: 5px;
}

thead {
  background-color: black;
  color: white;
}

.cells {
  display: flex;
  gap: 5px;
}

.cell {
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
}

.cell input {
  width: 25px;
  height: 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
}

.cell-span {
  background-color: white;
  position: relative;
  left: 50px;
  height: 60px;
}

.cell-span:hover { 
  background-color: aquamarine;
  cursor: crosshair;
}

.products-cart {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 10px;
    background-color: #dddddd;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
}

.product-items {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid grey;
    width: 30%;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.progressBar {
  border: 1px solid black;
  border-radius: 15px;
  background-color: lightgray;
  height: 20px;
  width: 500px;
  overflow: hidden;
}

.progressBar div {
  background-color: #00c251;
  height: 100%;
  margin-top: -20px;
}

.progressBar span {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.jobBoardItem {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  width: 400px;
}

.todoItem {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  height: 40px;
  background-color: lightblue;
  border-radius: 10px;
  border: 2px solid darkblue;
  font-size: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.wordle-container {
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 360px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 24px;
  justify-content: space-evenly;
}

.wordle-lines {
  display: flex;
  height: 50px;
  width: 275px;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 4px;
  align-items: center;
  justify-content: space-evenly;
}

.wordle-tile {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;
  justify-content: space-evenly;
  align-items: center;
  height: 42px;
  width: 45px;
}

.wordle-keyboard {
  width: 325px;
  height: 75px;
  margin-top: 8px;
  margin-bottom: 50px;
}

.wordle-correct {
  background-color: lightgreen;
}

.wordle-close {
  background-color: rgb(209, 209, 59);
}

.wordle-incorrect {
  background-color: lightgray;
}

.wordle-gameover {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.pre-delay {
  overflow: auto;
  background-color: black; 
  color: wheat;
  font-size: 18px; 
  padding: 8px 8px 8px 8px;
  white-space: pre-wrap;
  word-break: keep-all;
  width: 100vw;
  height: 1000px;
}

.passcode-div {
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.passcode-div button {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 14px;
}

.MSS-panel {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 550px;
  height: 520px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  align-items: baseline;
  overflow-y: auto;
}
.MSS-button { 
  font-size: 18px;
  margin-bottom: 15px;
}
.MSS-label {
  font-size: 22px;
  padding-right: 15px;
}

.MSS-label-selected {
  background-color: lightblue;
  border-radius: 12px;
}

.OTP-input {
  height: 50px;
  width: 50px;
  margin-left: 15px;
  font-size: 28px;
  border-radius: 15px;
  border: 1px solid darkgrey;
  text-align: center;
}

.AutoSuggest-list {
  width: 400px;
  height: 500px;
  border: 1px solid gray;
  overflow: auto;
}

.AutoSuggest-listitem {
  font-size: 26px;
  padding: 5px;
  margin: 5px;
}

.AutoSuggest-listitem:hover {
  background-color: lightgrey;
  cursor: pointer;
}
